[build]
  functions = "netlify/functions"

[[redirects]]
  from = "/api/views"
  to = "/.netlify/functions/views"
  status = 200

[[redirects]]
  from = "/api/track"
  to = "/.netlify/functions/track"
  status = 200

[[redirects]]
  from = "/api/analytics"
  to = "/.netlify/functions/analytics"
  status = 200
